<div class="col-sm-12" style="background-color:lavender;">
    <center>
        <h1>TTTTT</h1>
    </center>
</div>
<div class="col-sm-2" style="background-color:lavender;">
    <!-- <div class="row"> -->
    <ul class="list-group">
        <a href="/line_chart_date/2019">
            <li class="list-group-item">First item</li>
        </a>
        <a href="/line_chart_date/2018">
            <li class="list-group-item">First item</li>
        </a>
        <a href="/line_chart_date/2019">
            <li class="list-group-item">First item</li>
        </a>
        <a href="/line_chart_date/2019">
            <li class="list-group-item">First item</li>
        </a>
        <a href="/line_chart_date/2019">
            <li class="list-group-item">First item</li>
        </a>
    </ul>
    <!-- </div> -->
</div>